.husky

.gitignore
.prettierignore
.env*
.tool-versions
.npmrc

# static
*.ico
*.svg

# common
**/generated/**

# api
apps/api/prisma/schema.prisma
apps/api/prisma/migrations/**

# front
**/.next/**
**/dist/**
**/build/**